navbar-nav {
  width: 100%;
}

.bg-dark {
  background-color: #e97c00;
}

.navbar {
  position: initial;
  background-color: #772e25;
  margin-bottom: 14px;
  width: 888px;
  -webkit-highlight: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
