html {
  background: url('./dark.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  text-align: center;
  margin-top: 100px;
}
.land-title {
  color: white;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  color: aliceblue;
  text-align: left;
  font-size: 25px;
}

input:focus {
  background-color: lightblue;
}

button {
  background-color: #d2db53;
  border: none;
  color: rgb(34, 31, 31);
  padding: 14px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

table {
  color: aliceblue;
}

select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
